.catalog
  &__header 
    display flex
    justify-content space-between
    align-items center
    
  &__inner
    display flex
    justify-content space-between
    flex-wrap wrap
    margin-bottom vw(-32)