// https://codepen.io/tutsplus/pen/WROvdG => tooltip source code
[tooltip] {
  // used for slot editing
  & > * {
    display: inline-block;
  }
  position: relative;
  &:before,
  &:after {
    text-transform: none; /* opinion 2 */
    // font-size: 0.9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  &:before {
    content: "";
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  &:after {
    content: attr(tooltip); /* magic! */

    /* most of the rest of this is opinion */
    font-size: 12px;
    font-weight 500;
    font-family $inter;
    text-align: center;

    /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: $white;
    color: $black;
    z-index: 1000; /* absurdity 2 */
  }
  &:hover:before,
  &:hover:after {
    display: block;
  }
  /* position: TOP */
  &:not([positionTool]):before,
  &[positionTool^="top"]:before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: $white;
    
  }

  &:not([positionTool]):after,
  &[positionTool^="top"]::after {
    bottom: calc(100% + 5px);
  }

  &:not([positionTool]):before,
  &[positionTool^="top"]:before,
  &:not([positionTool]):after,
  &[positionTool^="top"]::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
  }

  /* positionTool: BOTTOM */
  &[positionTool^="bottom"]::before {
    left: 50%
    top: 105%;
    border-top-width: 0;
    border-bottom-color: $white;
  }
  &[positionTool^="bottom"]::after {
    right: 0;
    top: calc(105% + 5px);
  }

  &[positionTool^="bottom"]::before,
  &[positionTool^="bottom"]::after {
    transform: translate(50%, 0.5em);
  }

  /* positionTool: LEFT */
  &[positionTool^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: $white;
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
  }
  &[positionTool^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
  }

  /* positionTool: RIGHT */
  &[positionTool^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: $white;
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
  }
  &[positionTool^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
  }

  /* FX All The Things */
  &:not([positionTool]):hover::after
  &[positionTool^="top"]:hover::after {
    animation: tooltips-top-after 300ms .5s ease-out forwards;
  }
  
  &[positionTool^="bottom"]:hover::after {
    animation: tooltips-bottom-after 300ms .5s ease-out forwards;
  }

  &:not([positionTool]):hover::before
  &[positionTool^="top"]:hover::before
  &[positionTool^="bottom"]:hover::before {
    animation: tooltips-vert-before 300ms .5s ease-out forwards;
  }

  &[positionTool^="left"]:hover::before,
  &[positionTool^="left"]:hover::after,
  &[positionTool^="right"]:hover::before,
  &[positionTool^="right"]:hover::after {
    animation: tooltips-horz 300ms .5s ease-out forwards;
  }
}

/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* KEYFRAMES */
@keyframes tooltips-top-after {
  to {
    opacity: 1;
    transform: translate(-15px, 0);
  }
}

@keyframes tooltips-bottom-after {
  to {
    opacity: 1;
    transform: translate(10px, 0);
  }
}

@keyframes tooltips-vert-before {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}