.banner
  pos relative
  background-color #fff
  padding vw(56) 0
  overflow hidden

  &__inner
    pos relative
    z-index 2

  &__img
    pos absolute
    top 0
    right 0
    width vw(640)
    height 100%
    object-fit cover

  &__form
    display flex
    align-items center
    margin-top vw(48)

  .form__label
    margin-right vw(32)