.btn
  background-color $green
  padding 0 vw(34)
  font-size vw(16)
  line-height vw(64)
  font-weight 500
  border-radius var(--radius)
  color #fff

  &[disabled]
    opacity .5

  &_link
    display inline-block

  &_white
    background-color #FFFFFF
    border: 2px solid #BFFDE3
    color $green