.card
  pos relative
  width 100%
  height vw(404)
  border-radius vw(16)
  overflow hidden
  background-color #fff
  margin-bottom vw(32)

  &__img
    width 100%
    height vw(236)
    object-fit cover
    object-position center

  &__alert
    pos absolute
    top vw(24)
    left vw(24)
    padding vw(8) vw(12)
    border-radius vw(8)
    background-color $green
    color #fff

  &__box
    padding var(--offset-mid)
     