@import '../vars.styl';

.message-list
  padding 0 24px
  
  &__item
    position relative
    display flex
    height 240px
    border-radius: var(--radius-def)
    margin-top 32px
    background-color #fff

    @media $tablet 
      display block
      height auto
      min-height: 384px

    &:first-child
      margin-top 0

  .notify-count {
    position absolute
    top 24px
    left 24px

    @media $tablet {
      left auto
      right 32px
      top 32px
    }

    @media $mobile {
      left auto
      right 24px
      top 24px
    }
  }

  &__header
    margin-bottom 20px

    @media $tablet 
      order 1
      margin-bottom 0
      margin-top 24px

  &__box
    width 100%
    padding 20px
    display flex 
    flex-direction: column
    justify-content space-between

    // @media $tablet 

    @media $mobile
      padding 24px 

  &__details 
    display flex
    justify-content space-between
    align-items center

  &__close {
    position absolute
    right 0
    top 0
    background-color #fff
    box-shadow 0px 1px 16px 2px rgba(0, 0, 0,  0.11) 
    width 25px
    height 25px
    text-align: center
    vertical-align: center
    border-radius: 50%
    transform translate(50%, -50%)
    
    .icon {
      width 10px
      height 10px
    }
  }

  &__img,
  &__avatar
    object-fit: cover
    object-position: center

  &__img
    width 240px
    height 100%
    border-radius: var(--radius-def)
    flex-shrink 0

    @media $tablet 
      width 100%
      height 160px

    @media $mobile
      height 224px

  &__avatar
    width 32px
    height 32px
    margin-right 12px
    border-radius 50%

  &__info
    display flex
    align-items center

    @media $mobile
      margin-top 12px

    &:last-child
      margin-top 5px

  .alert 
    @media $tablet 
      position: absolute
      left 32px
      top 32px
    
    @media $mobile
      left 24px
      top 24px
  
  @media $mobile
    &__details
      display block