.slider
  &__show
    width 100%
    height vw(552)
    border-radius: vw(20)
    margin-bottom vw(32)
    overflow hidden

    &-img
      width 100%
      height 100%
      object-fit cover

  &__swiper
    width vw(800)

  &__slide
    height vw(152) !important
    border-radius vw(12)
    overflow  hidden

  &__img
    width 100%
    height 100%
    object-fit cover
      
.slider__show 
  display: none;

  &.show 
    display: block
