.title
  &_bigger
    font-size vw(40)
    line-height vw(48)
    font-weight 800
    
  &_up-middle
    font-size vw(32)
    line-height vw(40)
    font-weight 700

  &_middle
    font-size vw(24)
    line-height vw(32)
    font-weight 700

  &_pre-middle
    font-size vw(16)
    line-height vw(24)
    font-weight 700

  &_small
    font-size vw(12)
    line-height vw(16)
    font-weight 700


.text
  &_bigger
    font-size vw(20)
    line-height vw(32)

  &_middle
    font-size vw(16)
    line-height vw(24)

  &_small
    font-size vw(12)
    line-height vw(12)

.controls
  &_bigger
    font-size vw(20)
    line-height vw(24)
    font-weight 600

  &_middle
    font-size vw(16)
    line-height vw(20)
    font-weight 500

  &_small
    font-size vw(12)
    line-height vw(12)
    font-weight 500