html,
body
	height 100%
	ff $inter
	font-weight 400
	font-size vw(14)
	line-height vw(14)
	color #222222
	// background-color #000
	background-color $gray

#app
	min-height 100%

.main
	min-height 100vh
	height 100%
	
	&.log-in
		background url('~@/assets/img/details/bg-log.jpg')
		background-size contain
		background-repeat no-repeat
		background-position right bottom


.opacity 
	&-50 
		opacity .5
	
	&-70 
		opacity .7

	&-30
		opacity .3

.align
	&-ctr
		text-align center

.mb 
	&-4
		margin-bottom vw(4)

	&-8 
		margin-bottom vw(8)

	&-12
		margin-bottom vw(12)

	&-16
		margin-bottom vw(16)

	&-24 
		margin-bottom vw(24)

	&-32 
		margin-bottom vw(32)

	&-40
		margin-bottom vw(40)

	&-48
		margin-bottom vw(48)

.ml
	&-8 
		margin-left vw(8)

	&-16
		margin-left vw(16)

	&-24 
		margin-left vw(24)

	&-32 
		margin-left vw(32)

	&-40
		margin-left vw(40)

.mr
	&-8 
		margin-right vw(8)

	&-16
		margin-right vw(16)

	&-24 
		margin-right vw(24)

	&-32 
		margin-right vw(32)

	&-40
		margin-right vw(40)

// .main 
// 	&__content
.container
	padding 0 vw(64)

	&-mid
		width vw(894)
		padding 0 vw(15)
		margin 0 auto

.info
	display flex

	&__inner
		width vw(752)
		margin-right var(--offset-up-mid)

.performance
	display flex
	justify-content space-between
	align-items center
	
	&__item
		width vw(192)
		height vw(176)
		margin-left var(--offset-up-mid)
		display flex
		justify-content center
		flex-direction column
		padding var(--offset-big)
		background-color #fff
		border-radius vw(24)

		&:first-child
			display block
			width vw(880)
			margin-left 0

.logo
	width 88px
	height 56px
	object-fit cover

.wrapper
	display flex

	&_v-ctr
		align-items center

	&_h-btw
		justify-content space-between	


.details
	display flex

	&__item
		margin-left var(--offset-mid)
		display flex
		align-items center

		&:first-child
			margin-left 0

	.icon
		width vw(16)
		height vw(16)
		margin-right vw(8)

		path
			stroke #444444

	.controls_small
		color #444444

.icon
	width vw(24)
	height vw(24)

	path,
	rect,
	circle
		stroke $black

	&_green
		path,
		rect
			stroke $green

		circle
			fill $green


.border-btm
	pos relative
	padding-bottom vw(25)

	&:before
		content ''
		pos absolute
		bottom 0
		left 0
		width 100%
		height 1px
		background-color #222222
		opacity 0.32

.popular
	&__item
		position relative
		display flex
		align-items flex-end
		overflow hidden
		background-size cover
		background-position center
		background-repeat no-repeat

		&::before
			content ''
			position absolute
			width 100%
			height 100%
			bottom 0
			left 0
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.75%, rgba(0, 0, 0, 0.72) 100%)


		&-info
			position relative
			z-index 1
			color #fff

.total 
	border-radius: vw(8);
	padding: vw(8) vw(16);
	background-color: #fff;
	display: flex;	


.social 
	&__item 
		display: inline-block;
		margin-left: 12px;

		&:first-child 
			margin-left: 0;

	&__btn 
		display: block;
		padding 5px
		line-height 0

	.icon 
		width: 16px;
		height: 16px;

.calendar 
	width 100%

body
	.dp
		&__theme_light 
			--dp-background-color: #FFFFFF;
			--dp-text-color: #212121;
			--dp-hover-icon-color: #BFFDE3 ;
			--dp-hover-color: #E6FEF4;
			--dp-hover-text-color: #049A5B;
			--dp-hover-icon-color: #BFFDE3;
			--dp-primary-color: $green;

		&__today
			border none

		&__input
			height 64px
			background-color #F5F5F5
			border none
			border-radius 16px
			padding-left 72px

			&:placeholder
				color #222222 !important

			&_icon
				margin-left 24px

		&__calendar
			&_header
				justify-content space-between
				position relative
				color $green
				text-transform capitalize
				opacity 0.5

				&_item
					display flex
					align-items center
					justify-content center

				&_separator
					display none

			&_item,
			&_header
				font-size 12px
				line-height 12px
				font-weight 500

			&_next
				margin-left 0

			&_wrap
				ff $inter

		&__menu
			border-radius 16px
			border none
			padding 24px 24px 32px 24px
			box-shadow: 0px 15px 39px -31px rgba(0, 0, 0, 0.11);

		&__range_between
			background-color #E6FEF4

		&__range
			&_start,
			&_end
				border-radius 8px
		
		&__flex_display
			.dp__instance_calendar
				.dp__month_year_col_nav
					display inline-block
					top 50%
					transform translateY(-50%)
					position absolute
					right 0

				&:first-child
					margin-right 30px

					.dp__month_year_col_nav
						right auto
						left 0

		&__month_year
			&_select
				font-weight 500
				font-size 16px
				line-height 20px
				margin-right 5px
				width auto
				text-transform capitalize

			&_row
				position relative
				display flex
				justify-content center
				margin-bottom 24px

		&__cell_inner
			padding 10px

			