
@import './fonts.styl'
@import './mixins.styl'
@import './vars.styl'
@import './reset.styl'

// helper classes
@import './helper/index.styl'

@import './layout/card.styl'
@import './layout/banner.styl'
@import './layout/slider.styl'
@import './layout/accordion.styl'
@import './layout/drop-down.styl'
@import './layout/data-picker.styl'
@import './layout/perfomace.styl'
@import './layout/tags.styl'
@import './layout/map.styl'

// components import here 
@import './components/header.styl'
@import './components/suggestions.styl'
@import './components/aside.styl'


// pages import here 
@import './views/popular'
@import './views/index'
@import './views/create'
@import './views/authorization'
// @import './views/search'

@import './common.styl'