$inter = 'Inter'

$green = #06CC79
$gray = #F5F5F5
$black = #222222
$red = #F72921

$mobile = '(max-width:660px)'
$desktop = '(min-width:661px)'
$tablet = '(max-aspect-ratio: 16 / 9) and (min-width: 661px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'

:root {
  --offset-small: vw(8)
  --offset-pre-mid: vw(16)
  --offset-mid: vw(24)
  --offset-up-mid: vw(32)
  --offset-big: vw(40)

  --radius: vw(16)
}